.about__wrapper{
    margin: 32px 0 0 0;
    display: flex;
}

.about__image-colunm{
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.about-image__wrapper{
    border-radius: 50%;
    background-image: url('../../img/about/author.png');
    width: 200px;
    height: 200px;
}

.about__content-colunm{
    padding: 0 0 0 70px;
    max-width: 900px;
}

.media-links__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.about-text__wrapper{
    margin: 16px 0 0 0;
}

.about-text__wrapper p{
    font-size: 18px;
    text-indent: 25px
}

.about-link-more__wrapper{
    margin: 12px 0 0 0;
    text-align: right;
}

.anout__link-more{
    font-size: 16px;
    font-style: italic;
    color: #898989;
    transition: .2s;
}

.anout__link-more:hover{
    color: #F56969;
}

@media (max-width: 768px){
    .about__content-colunm{
        padding: 0 0 0 30px;
    }
    .media-link{
        font-size: 16px;
    }
    .about-text__wrapper p{
        font-size: 16px;
    }
    .anout__link-more{
        font-size: 14px;
    }
}

@media (max-width: 500px){
    .about__wrapper{
        flex-direction: column;
    }
    .about__image-colunm{
        width: 100%;
    }
    .about__content-colunm{
        padding: 0;
    }
    .media-links__wrapper{
        justify-content: center;
    }
}