.articles-wrapper{
    display: flex;
    justify-content: center;
}

.article{
    margin: 10px 40px 10px 0;
    width: 260px;
    border: 4px solid #5C59F5;
    background-color: #5C59F5;
    border-radius: 20px;
}

.article:last-child{
    margin-right: 0;
}

.article__image-wrapper{
    background-color: #fff;
    border-radius: 17px 17px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__image-wrapper img{
   height: 160px;
   max-height: 228px;
}

.article__footer{
    padding: 16px 31px;    
    flex: 1 1;
}

.article__text{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 1000px) {
    .article{
        margin: 10px 20px 10px 0;
    }
    .article:last-child{
        margin-right: 0;
    }
    .article__image-wrapper{
        height: 180px;
    }
    .article__text{
        font-size: 18px;
    }
    .article__footer{
        padding: 12px 15px;    
    }
}

@media (max-width: 768px){
    .articles-wrapper{
        flex-direction: column;
    }
    .article{
        margin: 10px 0 0 0;
        width: 100%;
    }
    .article a{
        display: flex;
    }
    .article__image-wrapper{
        border-radius: 17px;
        width: 250px;
    }
}

@media (max-width: 500px){
    .articles__holder{
        margin: 0;
    }
    .article{
        
        margin: 20px 0 0 0;
    }
    .article a{
        display: block;
    }
    .article__image-wrapper{
        width: auto;
    }
}