.articles{
    display: flex;
    position: relative;
    margin-top: 20px;
} 

.articles__column-titles{
    position: relative;
    opacity: 1;
    left: 0;
    padding: 25px 28px;
    margin: 0 90px 0 0;
    width: 260px;
    height: 100%;
    background-color: #F0F4FB;
    transition: .3s;
}

.articles__column-titles_hidden{
    opacity: 0;
    left: -300px;
}

.articles-list__item{
    margin: 0 0 30px 0;
    font-size: 14px;
    color: #172381;
    position: relative;
}

.articles-list__item::after{
    content: '';
    width: 50%;
    height: 1px;
    background-color: #1E1E1E;
    position: absolute;
    left: 25%;
    bottom: -15px;
}

.articles-list__item:last-child::after{
    display: none;
}

.articles-list__item_active{
    font-weight: 700;
}

.articles__column-content{
    flex: 1 1;
}

.articles__header{
    margin: 0 0 50px 0;
}

.atricle__title{
    margin: 0 0 10px 0;
    font-size: 26px;
    line-height: auto;
    font-weight: 700;
    color: #172381;
}

.article__description-wrapper{
    display: flex;
    justify-content: end;
}

.article__description{
    max-width: 450px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

@media (max-width: 1000px){
    .articles__column-titles{
        margin: 0 20px 0 0;
        padding: 15px;
        width: 200px;
    }
    .articles__column-content{
        margin: 0 0 0 270px;
    }
}

@media (max-width: 768px){
    .articles-list__button-wrapper{
        display: inline-block;
    }
    .articles__column-content{
        margin: 0;
    }
}