.error__wrapper{
    margin: 17% auto 0;
    max-width: 600px;
    height: 50%;
    padding: 20px;
}

.error-code{    
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #F56969;
}

.error-message{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #F56969;
}

.error-description{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.error-link{
    margin: 50px auto 0 !important;
    width: 250px;
    text-align: center;
}